<%include partials/header.ejs%>

<h1>search results</h1>

<div class="col-xs-12">
<div id="map">
</div>
</div>


<div class="row-display-flex">	
	<%for(var i = 0; i < imgArr.length; i++){%>
	<div class="col-md-6 col-xs-12">
		<div class="results">
			<h2><%=searchResults.name[i]%></h2>
			<p><%=searchResults.location[i][0]%>
				<br>
					<%=searchResults.location[i][1]%>
				<br>
					<%=searchResults.displayPhone[i]%>
				<br>
					<%=searchResults.hour[i]%>
				<%for(var x = 0; x < imgArr.length; x++){%>

				<%}%>
			</p>
			<div class="container-imgs">
				<img src="<%=imgArr[i]%>">
			</div>
		</div>
	</div>
	<%}%>
</div>

<%include partials/footer.ejs%>
